mixin authorForm(author, saveUrl, cancelUrl)

    div.form-container
        form(action=saveUrl method='post')
            div.form-input
                label(for='first_name') First Name/s/:
                input(id='first_name' name='first_name' value= author.first_name)

            div.form-input
                label(for='last_name') Last Name/s/:
                input(id='last_name' name='last_name' value= author.last_name)

            div.form-input
                label(for='books_written') Book Written:
                select(id='books_written' name='books_written' autocomplete='off')
                    -for (let i = 1; i < 21; i++)
                        option(value=i select = (books_written === author.books_written)) #{i}

            div.form-input
                label(for='dob') Date Of Birth:
                input(id='dob' name='dob' type='date' value= author.dob)

            div.form-buttons
                a.button(href=cancelUrl) Cancel
                button.button.primary(type='submit') Save
